img.top-right {
    width: 30%;
    z-index:-1;
    position:absolute;
    top:0;
    left:90%;
}
.nobullet {
    list-style-type: none;
}

img {
    border:0px;
}

.left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

.right {
  left:31.25%;
  top: 75px;
  float: right;
  //text-align: right;
  z-index:-10;
  width:50%;
}

.red {
   color : red;
}

.green {
   color : #27ae60;
}