img.top-right {
    width: 30%;
    z-index:-1;

    left:90%;

}
.nobullet {
    list-style-type: none;
}
.img-small{
	clear: both;
	width: 20%;
}
img {
    border:0px !important;
}

.left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

.right {
  left:31.25%;
  top: 75px;
  float: right;
  //text-align: right;
  z-index:-10;
  width:50%;
}

.red {
   color : #dd0000;
}

.green {
   color : #27ae60;
}

div.small-box {
	float: left;
	display: block;
	width: 45%;
	border: 1px black solid;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 3px 3px #ccc;
	background: rgba(204,204,204,0.4);
}